* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(rgb(27, 27, 134), rgb(2, 2, 2)); */
    background: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    color: #ecf0f1;
    margin: 0;
    font-family: 'Signika', sans-serif;
    width: 100%;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.liveVideoContainer {
    display: flex;
    justify-content: center;
}

#userCamera {
    transform: scaleX(-1);
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#videoHere {
    display: flex;
    justify-content: center;

    max-width: 80%;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    overflow: hidden;
}

#PreviousDiceNumberContainer {
    position: absolute;
    top: 5%;
    left: 1%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 20px 20px 20px;
    border: 0.1px solid #6f5e1f;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

#PreviousDiceNumberContainer .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

#PreviousDiceNumberContainer h3 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px 0px 15px 10px;
}

#PreviousDiceNumberContainer .row .button {
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#ffd333, #7d6717);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    width: 30px;
    height: 38px;
    font-weight: bolder;
}

#PreviousDiceNumberContainer .row span {
    text-decoration: none;
    padding: 10px 5px 10px 10px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
    color: #ffd333;
    display: flex;
    align-items: center;
}

#closePrevDiceContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}

#ChatBox {
    position: absolute;
    top: 10%;
    left: 84%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px 20px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: white;
    border: 0.1px solid #6f5e1f;
    border-radius: 4px;
    height: 400px;
    z-index: 1;
}

.chathead span {
    color: #ffd333;
}

#ChatBox .roll-hr {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#ChatBox .hr {
    height: 2px;
    width: 80px;
    background-color: #36281a;
}

.chathead span {
    padding-right: 120px;
}

.chathead a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#ChatBox label {
    font-size: 15px;
    margin-right: 10px;
}

.lobby {
    position: absolute;
    top: 10px;
    right: 10px;

}

.lobby a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    text-decoration: none;
    background: linear-gradient(#2d333b, #22262a);
    width: 100px;
    padding: 8px 15px;
    border: none;
    border-radius: 2px;
}

.lobby i {
    margin-right: 5px
}

#exitModal {
    position: absolute;
    background-color: white;
    padding: 35px;
    margin-top: 130px;
    color: black;
    z-index: 1;
    border-radius: 5px;
}

#exitYes {
    padding: 5px 14px 5px 14px;
    color: white;
    font-weight: bold;
    background: linear-gradient(#FFD333, #887019);
    /* background-color: #FFD333; */
    border: none;
    margin-right: 5px;
}

#exitYes:hover {
    background-color: #C82333;
}

#exitNo {
    padding: 5px 14px 5px 14px;
    color: #414141;
    background-color: #b6b6b6;
    border: none;
    margin-left: 5px;
    font-weight: bold;
}

#exitNo:hover {
    background-color: #9E9E9E;
}

.yesnobtn {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobbymodalcontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
}

.prevdiceicon i {
    font-size: 20px;

}

.chaticon {
    margin-left: 8px;
}

.chaticon i {
    font-size: 20px;
}

.lobby a:hover {
    color: #ffd333;
    background: linear-gradient(#22262a, #2d333b);
    color: #ffd333;
}

#closeChatBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 10px 15px 10px;
}

.vidbtnyourbetcontainer {
    display: flex;
    justify-content: center;
}

.bet-button {
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    background: linear-gradient(white, grey);
    border: none;
    font-weight: bold;
    border-radius: 10px;
}

.bet-button:hover {
    border: 3px solid #ffd333;
}




/* Styling for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #232a30;
    border-radius: 4px;
    border: 0.1px solid #ffd333;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 15px 20px 20px 20px;

}

.modal-content i {
    color: #ffd333;
    font-size: 20px;
    cursor: pointer;
}


.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.modal-button {
    width: 65px;
    height: 30px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(#2d333b, #22262a);
    /* Set modal button color to a red color */
    color: #ecf0f1;
    /* Set text color to a light color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background: linear-gradient(#22262b, #2f353c);
    /* Darker red on hover */
}

.placebet-button {
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    background: linear-gradient(#ffd333, #9a5a1e);
    /* Set submit button color to a green color */
    color: #ecf0f1;
    /* Set text color to a light color */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 40px;
}

.placebet-button:hover {
    background: linear-gradient(#9a5a1e, #ffd333)
        /* Darker green on hover */
}

.selectedMoney {
    background: #000000;
    margin: 0;
    padding: 0;
}

.selectedMoneyBtn {
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(#d79855, #9a5a1e);
}


input[type="range"] {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 3px;
    -webkit-appearance: none;
    margin: 10px 0;
    background-color: #2f353c;
    /* Gray background for the slider track */
    border-radius: 5px;
    outline: none;
    /* Remove the default focus style in some browsers */
    margin-right: 10px;
}

/* Style the slider thumb (handle) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #b6793d;
    /* Green color for the slider thumb */
    border-radius: 50%;
    cursor: pointer;

}

.range-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.range-container span {
    border: 1px solid rgb(101, 101, 101);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    width: 100px;
}

.yourbet {
    display: flex;
    justify-content: center;
}

.yourbet .yourbetchild1 h4 {
    background-color: #252b30;
    margin: 0;
    padding: 10px 12vw;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1.5px solid #6f5e1f;
}

.yourbet .yourbetchild1 h5 {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    font-size: 12px;
}

/* Balance */
.balance {
    display: flex;
    justify-content: center;
}

.balance span {
    font-size: 12px;
    padding-left: 10px;
}

.balance .balanceRupees,
.balance .totalBet {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px 10px 40px;
    margin: 20px 10px 20px 10px;
    color: white;
    background: linear-gradient(#2d333b, #22262a);
    border-radius: 5px;
    border: 1.5px solid #6f5e1f;
    flex-direction: column;
}


@media (max-width: 1024px) {
    #ChatBox {
        position: absolute;
        top: 10%;
        left: 76%;
    }

    #PreviousDiceNumberContainer {
        position: absolute;
        top: 5%;
        left: 2%;
    }

    .modal-content {
        margin: 10px;
    }

}

@media (max-width: 769px) {

    #ChatBox {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: absolute;
        top: 10px;
        left: 10px;
        display: inline-flex;
    }

    .prevdiceicon button {
        border: none;
        padding: 2px;
        border-radius: 5px;
        background-color: #FFD333;
        color: rgb(0, 0, 0);
    }

    .chaticon button {
        border: none;
        padding: 2px;
        border-radius: 5px;
        background-color: #FFD333;
        color: rgb(0, 0, 0);
    }

    #PreviousDiceNumberContainer {
        display: none;
    }


    #closeChatBtn {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        display: block;
        margin-top: 10px;
        padding: 8px 16px;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #closePrevDiceContainer {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        display: block;
        margin-top: 10px;
        padding: 8px 16px;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

}

@media (max-width: 440px) {
    #ChatBox {
        position: absolute;
        top: 50;
        left: 50%;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bet-button {
        width: 70px;
        font-size: 18px;
    }

    body {
        background: url('mobilebg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: initial;
    }

    .video-container {
        max-width: 100%;
    }

}

@media screen and (max-width: 350px) {
    .bet-button {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 321px) {

    #ChatBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #PreviousDiceNumberContainer {
        position: absolute;
        top: 5%;
        left: 2%;
    }



}